@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Catamaran:400,800");

:root {
  --primary-color: #b7c9d0fa;
  --secondary-color: #e1e1e1;
  --secondary-color-darker: #d3d1d1;
  --tertiary-bg: #8898aa;
  --tertiary-color: #030347;
  --heading-color: #32325d;
  --btn-color: #1a481acd;
  --section-pad: 5%;
  --nav-pad: 0 5%;
  --article-shadow: 0 0 5px #939393, 0 0 5px #939393;
  --hero-bg-opacity: #47b1dbd4;
  --font-family: "Catamaran", "Montserrat", "Lora" serif;
  --font-size: clamp(1rem, calc(1.25vw + 0.45rem), 2rem);
  --big-font-size: clamp(1rem, calc(1.7vw + 1rem), 2.5rem);
}

.dark-mode {
  --primary-color: #091c25fa;
  --secondary-color: #242424;
  --secondary-color-darker: #1a1a1a;
  --tertiary-bg: #112d4f;
  --tertiary-color: #aab5b6;
  --heading-color: #e5e5f4;
  --hero-bg-opacity: #000000ce;
  --opacity-dark: 0.4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: 0.3s;
  font-family: var(--font-family);
}

/* global styles starts */
body {
  background-color: var(--primary-color);
}
p {
  color: var(--tertiary-color);
  font-size: var(--font-size);
  line-height: 1.5;
  text-align: left;
  word-wrap: normal;
}

p::first-letter {
  text-transform: capitalize;
}

a {
  color: var(--tertiary-color);
}
a,
input[type="submit"],
.chat {
  cursor: pointer;
}
/* messages styling starts */
ul.messages {
  margin: 10px auto;
}

ul.messages li.success,
ul.messages li.warning,
ul.messages li.info,
ul.messages li.error {
  margin: 0;
  padding: 14px 20px;
  color: var(--tertiary-color);
}

ul.messages li.success {
  background-color: #a6eba6;
  color: #048127;
}
ul.messages li.success a {
  color: #0ac33e;
}

ul.messages li.error {
  background-color: #a30029;
  color: #e9828e;
}
ul.messages li.error a {
  color: #e9828e;
}

ul.messages li.info {
  background-color: #faffae;
  color: #696b4e;
}
ul.messages li.info a {
  color: #1586de;
}

ul.messages li.warning {
  background-color: #de9404;
}
ul.messages li.warning a {
  color: #f49000;
}

ul.messages li a.close {
  margin: 0;
  float: right;
  opacity: 1;
  border: 0;
  box-shadow: none;
  text-shadow: none;
}

/* messages styling ends */

/* global styles ends */

/* mobile first starts*/
.hamburger .bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--tertiary-color);
  margin-top: 4px;
}
.hamburger.active .bar:first-child {
  transform: translateY(4px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2) {
  display: none;
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

header {
  box-shadow: 0 0 3px var(--tertiary-color), 0 0 3px var(--secondary-color);
  background-image: url("/static/images/image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: -250px 0;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

header .navbar-wrapper {
  color: var(--tertiary-color);
  background-color: var(--hero-bg-opacity);
  max-width: 100%;
  width: 100%;
  height: 100%;
}

header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin: 0 auto;
  width: 100%;
  padding: var(--nav-pad);
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 200; */
}

header .navbar .nav-brand {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--tertiary-color);
  min-width: 120px;
}

header .navbar .menu {
  position: fixed;
  left: -100%;
  top: 60px;
  background-color: var(--secondary-color);
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

header .navbar .menu.active {
  left: 0;
}
header .navbar .menu .menu-item {
  width: 100%;
  text-align: center;
}
header .navbar .menu .menu-item .nav-items {
  margin-top: 10px;
}

header .navbar .menu .menu-item img {
  border-radius: 50%;
}

header .navbar .nav-link {
  color: var(--tertiary-color);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  width: max-content;
  /* text-transform: uppercase; */
  font-family: var(--font-family);
}

header .navbar .nav-link:hover {
  background: var(--primary-color);
}

.head-section {
  position: relative;
  top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--primary-color); */
  background-color: transparent;
  color: var(--tertiary-color);
  min-height: 100px;
  padding: var(--nav-pad);
}
.head-section.active {
  transform: translate(0, -200px);
  box-shadow: 0 0 1px 3px var(--secondary-color);
}
.page-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.page-logo {
  width: 50px;
  height: 50px;
}
.page-logo img {
  max-width: 100%;
  height: 100%;
  border-radius: 50%;
}
.mode {
  cursor: pointer;
}

.mode .fa-moon {
  display: none;
  color: #ffffff;
}
.mode .fa-sun {
  color: #ffffff;
}
.social-nav {
  position: fixed;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 30px;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}
.social-nav .fa-facebook {
  color: #0000ff;
}
.social-nav .fa-twitter {
  color: #7b1b61;
}
.social-nav .fa-linkedin {
  color: var(--tertiary-color);
}
.social-nav .fa-whatsapp {
  color: green;
}
.social-nav .fa-instagram {
  color: tomato;
}
.mode {
  cursor: pointer;
}

.mode .fa-moon {
  display: none;
  color: #ffffff;
}
.mode .fa-sun {
  color: #ffffff;
}

.hero-section {
  position: absolute;
  top: 0;
  bottom: 20%;
  height: max-content;
  width: max-content;
  margin: auto;
}
.hero-page {
  color: var(--tertiary-color);
  width: 100%;
  height: 100%;
}
.hero-page h2 {
  font-size: var(--big-font-size);
  text-align: left;
  margin: auto;
  max-width: 500px;
  line-height: 2rem;
  color: var(--tertiary-color);
  padding: 100px 1.5rem 0;
}

.hero-page h2 a {
  color: var(--tertiary-color);
  text-align: left;
  margin-left: 8ch;
}

/* mobile first ends*/

@media screen and (min-width: 480.1px) and (max-width: 768px) {
  header {
    background-position: unset;
  }

  .hero-section {
    left: unset;
    right: unset;
    bottom: unset;
    top: 100px;
    height: max-content;
    width: 100%;
    margin: auto;
    text-align: left;
  }

  .hero-page h2 {
    text-align: left;
    margin: auto;
    width: 500px;
    line-height: 3rem;
    padding: 100px 1.5rem 0;
  }
}

@media screen and (min-width: 768px) {
  header {
    background-position: unset;
  }

  header .navbar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
    left: unset;
    top: unset;
    background-color: transparent;
    padding-bottom: unset;
    width: unset;
    text-align: unset;
  }
  header .navbar .menu .menu-item {
    display: inherit;
    gap: 3vw;
    align-items: center;
    justify-content: flex-end;
  }
  header .navbar .menu .hide {
    margin-bottom: 5px;
    padding: 0.5rem;
    width: 100%;
  }
  header .navbar .menu .hide-wrapper {
    display: none;
    position: absolute;
    top: 42px;
    right: -55px;
    background-color: var(--secondary-color);
  }
  header .navbar .menu .hide-wrapper.drops {
    display: block;
  }
  .hamburger {
    display: none;
  }

  .social-nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 100px;
    right: 0;
    top: 100px;
    bottom: unset;
    width: fit-content;
    margin: 0 auto;
    height: unset;
    background-color: unset;
  }
  .hero-section {
    left: 0;
    right: 0;
    bottom: unset;
    top: 100px;
    height: max-content;
    width: 100%;
    text-align: left;
  }
  .hero-page h2 {
    text-align: left;
    margin: auto;
    /* min-width: 500px; */
    line-height: 3rem;
    padding: 100px 1.5rem 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header .navbar .menu {
    gap: 5vw;
  }

  header .navbar .menu .menu-item .nav-items {
    margin-top: 0;
  }

  .hero-page h2 {
    min-width: 500px;
  }
}

@media screen and (min-width: 1024.05px) {
  header .navbar .menu {
    gap: 7vw;
  }

  header .navbar .menu .menu-item .nav-items {
    margin-top: 0;
  }

  .hero-page h2 {
    min-width: 700px;
  }
}
